* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 600px;
	max-height: 100vh;
}
.square{
	width: 8px;
	height: 8px;
	background: #1d1d1d;
	margin: 1px;
	box-sizing: 0 0 1px #000;
	transition: 2s ease;
	border-radius: 50%;
	transform: rotate3d();
}

.square:hover{
	transform: scale(2);
transition-duration: 0s;
}